{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}

<div class="container">

	<div class='row'>
		<div class='col-sm-3 col-sm-offset-3'>
			<img src='static/img/business.jpg' width='100%'/>
		</div>
		<div class='col-sm-3'>
			<h2>About Us</h2>
			<p>Here at Very Consequential Web Application, we store sensitive data and let users do important things.  We're a bank, or something.</p>
			<p>Like all major brands, we're desperate to connect with millenials<del>' disposable income</del>.  So, we've built some sweet social networking features into our site.</p>
		</div>
	</div>

	<br/>
	<br/>

	<div class='row'>
		<div class='col-sm-3 col-sm-offset-3'>
			<h2>Personalized Greeter</h2>
			<p>We want to connect with millenials, so we built this viral greeter app.  Just give us your friend's name and we'll create a page where we, the wonderful folks from VCWA, greet them.</p>
			<p>It's so 🔥🔥🔥 .</p>
			<br/>
			<form action="/reflected" style='text-align:center'>
				<input type='text' name='name' placeholder="Your Friend's Name">
				<input type='submit' value='Create Page'>
			</form>
			<br/>
		</div>
		<div class='col-sm-3'>
			<img src='static/img/fellow_kids.gif' width='100%'/>
		</div>
	</div>

	<br/>
	<br/>

	<div class='row'>
		<div class='col-sm-3 col-sm-offset-3'>
			<a href='/stored'><img src='static/img/guestbook.png' width='100%'/></a>
		</div>
		<div class='col-sm-3'>
			<h2>guestbook</h2>
			<p>As a hip company, we know you want to share online about your experiences.  So, we built our own social network called <a href='/stored'>guestbook</a>!</p>
		</div>
	</div>
		
</div>

{% endblock %}
